{% extends "base.html" %}

{% block content %}

    <h1 class="my-5">These are the notes: </h1>

        <div class="row row-cols3 g-2">

            <!-- estrutura que vai fazer o loop -->
            {% for note in notes %}
            <div class="col">
                <div class="p-3 border">
                    <!-- coisa que vai ser renderizada pelo django -->
                    <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non">
                        <h3>{{note.title}}</h3>
                    </a>
                    {{note.text|truncatechars:10}}
                </div>
            </div>
            {% endfor %}

        </div>    

{% endblock %}
